.DS_Store
DerivedData/
Patches.xcodeproj/project.xcworkspace/xcuserdata/
Patches.xcodeproj/project.xcworkspace/xcshareddata/
Patches.xcodeproj/xcuserdata/
AppleBacklightInjector.kext
Build/*
!Build/readme.txt
downloads
config/config_*.plist
AppleHDAHCD_ProBook.kext
AppleHDA_ProBook.kext
AppleHDA_ProBook_Resources