.DS_Store
DerivedData/
Patches.xcodeproj/project.xcworkspace/xcuserdata/
Patches.xcodeproj/project.xcworkspace/xcshareddata/
Patches.xcodeproj/xcuserdata/
build/*
!build/readme.txt
_downloads/
tools/
config/config_*.plist
AppleHDAHCD_ProBook.kext
AppleHDA_ProBook.kext
AppleHDA_ProBook_Resources
_hdainject_marker.txt
_hdazml_marker.txt
