<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>##KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio/VGA(0602) HD3000, 0x00010000, port 0406</string>
				<key>Name</key>
				<string>disabled:AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AQIEABAHAAAQBwAABQMAAAIAAAAwAAAAAgUAAAAEAAAHAAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AQIDABAHAAAQBwAABgIAAAABAAAJAAAABQMAAAIAAAAwAAAABAYAAAAIAAAJAAAAAAAAAAAAAAAAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0205</string>
				<key>Name</key>
				<string>disabled:AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHAAAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0304</string>
				<key>Name</key>
				<string>disabled:AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AwQAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAJAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAJAAAA</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAJAAAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
