<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>##KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006, vbo</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a260005 0x0a260006</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>Name</key>
				<string>disabled:AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQJAAAIAACHAAAA</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006, vbo</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a260005 0x0a260006</string>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQSAAAIAACHAAAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
