<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>CodecID</key>
			<integer>283902594</integer>
			<key>ConfigData</key>
			<data>ASccEAEnHQABJx6gAScfmQFHHCABRx0AAUceEwFHH5kCFxxQAhcdEAIXHiECFx8BAUcMAgIXDAI=</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>AwAAAA==</data>
			<key>Codec</key>
			<string>Mirone - Realtek ALC280 - combojack</string>
			<key>CodecID</key>
			<integer>283902592</integer>
			<key>ConfigData</key>
			<data>ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUceFwFHH5ABVxwwAVcdEAFXHiEBVx8CAaccQAGnHRABpx6BAacfAgFHDAIBVwwC</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>AwAAAA==</data>
			<key>CodecID</key>
			<integer>351359220</integer>
			<key>ConfigData</key>
			<data>AWccEAFnHRABZx4hAWcfAgF3HCABdx0AAXceFwF3H5EBlxwwAZcdEAGXHoEBlx8CAaccQAGnHQABpx6mAacfkA==</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>CodecID</key>
			<integer>287143633</integer>
			<key>ConfigData</key>
			<data>AMcegQDHHwM=</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>CodecID</key>
			<integer>287143641</integer>
			<key>ConfigData</key>
			<data>AMcegQDHHwMBFx6gARcfkA==</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>CodecID</key>
			<integer>287143648</integer>
			<key>ConfigData</key>
			<data>AKccIACnHRAApx6BAKcfAQC3HFAAtx0QALceIQC3HwEA1xwwANcdAQDXHhAA1x+QAOcc8ADnHQAA5x4AAOcfQAD3HPAA9x0AAPceAAD3H0ABBxzwAQcdAAEHHgABBx9AARccEAEXHQEBFx6gARcfkAH3HPAB9x0AAfceAAH3H0ACBxzwAgcdAAIHHgACBx9AAMcc8ADHHQAAxx4AAMcfQA==</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>CodecID</key>
			<integer>287143429</integer>
			<key>ConfigData</key>
			<data>AMcegQDHHwMBFx6gARcfkA==</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>CodecID</key>
			<integer>287143573</integer>
			<key>ConfigData</key>
			<data>AKccEACnHRAApx4hAKcfAgCnDAIAtxwgALcdEAC3HqEAtx8CALcMAgDXHDAA1x0BANceFwDXH5AA1wwCAOccQADnHQEA5x6gAOcfkA==</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>19</integer>
		</dict>
	</array>
</dict>
</plist>
