<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>14</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>CodecID</key>
			<array>
				<integer>287143648</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>LineIn</string>
				<string>Mic</string>
			</array>
			<key>IntSpeaker</key>
			<dict/>
			<key>LineIn</key>
			<dict>
				<key>MuteGPIO</key>
				<integer>1342242826</integer>
			</dict>
			<key>Mic</key>
			<dict/>
			<key>Outputs</key>
			<array>
				<string>IntSpeaker</string>
				<string>Headphone</string>
			</array>
			<key>PathMapID</key>
			<integer>14</integer>
		</dict>
	</array>
</dict>
</plist>
