<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>20</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>AmpPostDelay</key>
			<integer>200</integer>
			<key>AmpPreDelay</key>
			<integer>50</integer>
			<key>CodecID</key>
			<array>
				<integer>351346696</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>Mic</string>
				<string>LineIn</string>
			</array>
			<key>IntSpeaker</key>
			<dict>
				<key>MaximumBootBeepValue</key>
				<integer>110</integer>
			</dict>
			<key>LineIn</key>
			<dict>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>0</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>-1111411312</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Mic</key>
			<dict>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>0</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>-1111411312</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>20</integer>
		</dict>
	</array>
</dict>
</plist>
