<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>5</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>AmpPostDelay</key>
			<integer>200</integer>
			<key>AmpPreDelay</key>
			<integer>50</integer>
			<key>CodecID</key>
			<array>
				<integer>351359220</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>Mic</string>
				<string>LineIn</string>
			</array>
			<key>IntSpeaker</key>
			<dict>
				<key>MaximumBootBeepValue</key>
				<integer>110</integer>
			</dict>
			<key>LineIn</key>
			<dict>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>-1077065615</integer>
								<key>5</key>
								<data>UvaAwuqcX8JkT2TCCqeBwgZAjsJcypbCH0qcwh47n8KhV6HCkF+jwpe0pMLzrqXCRg2mwmStpcJeeKXCihGnwm5HqMJAsajCALGowsZXqcI4DqrCqumpwro+qsKG46rCoIurwpYErML78avCiLCrwmz7q8IoSazC+hOswl5ErMLyM6zC+BKswrjjrMJEzq3CRhOuwppursKArq7CYiyvwpqar8LK8a/CPgqwwraur8I+uK/CThmwwoxusML2sbDCrtOwwvYyscLgVLHCXjOxwkDcsMKo37DCloyxwqAWssIasLHCVv+wwhJ/scLaKbPCGOyzwvLws8J+tbPCspazwojEs8I4hbTCXO20wkLKtMIMUrTCjiW0wmbfs8Iuk7PCGFCzwpSSs8KAQbTCiP+0woBXtcIgoLXCRPi0wr5htMKKabTCPFG1wpxxtsLiBLfC1jS3wpYEt8Jg+bbC1nS3wtq1t8Jc4LfCMBa4wuqPuML82LjC3LS4wnjUuMI2MLnCeIy5woLIucIMPrrC3EK6woSBusI8trrCYvG6wr46u8JQBrvCZsK7wtDOvMJck73CugW+wqAnv8IepcDC1DvCwhy4w8LCi8XCsIbHwpjIycJIbMzCGOjOwnwCzsKOCc7CstrVwrCu3sKoaeXCajbswgao88L2tfzCSbwDwzR9CMPf+xDD</data>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Mic</key>
			<dict>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>-1077065615</integer>
								<key>5</key>
								<data>UvaAwuqcX8JkT2TCCqeBwgZAjsJcypbCH0qcwh47n8KhV6HCkF+jwpe0pMLzrqXCRg2mwmStpcJeeKXCihGnwm5HqMJAsajCALGowsZXqcI4DqrCqumpwro+qsKG46rCoIurwpYErML78avCiLCrwmz7q8IoSazC+hOswl5ErMLyM6zC+BKswrjjrMJEzq3CRhOuwppursKArq7CYiyvwpqar8LK8a/CPgqwwraur8I+uK/CThmwwoxusML2sbDCrtOwwvYyscLgVLHCXjOxwkDcsMKo37DCloyxwqAWssIasLHCVv+wwhJ/scLaKbPCGOyzwvLws8J+tbPCspazwojEs8I4hbTCXO20wkLKtMIMUrTCjiW0wmbfs8Iuk7PCGFCzwpSSs8KAQbTCiP+0woBXtcIgoLXCRPi0wr5htMKKabTCPFG1wpxxtsLiBLfC1jS3wpYEt8Jg+bbC1nS3wtq1t8Jc4LfCMBa4wuqPuML82LjC3LS4wnjUuMI2MLnCeIy5woLIucIMPrrC3EK6woSBusI8trrCYvG6wr46u8JQBrvCZsK7wtDOvMJck73CugW+wqAnv8IepcDC1DvCwhy4w8LCi8XCsIbHwpjIycJIbMzCGOjOwnwCzsKOCc7CstrVwrCu3sKoaeXCajbswgao88L2tfzCSbwDwzR9CMPf+xDD</data>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>5</integer>
		</dict>
	</array>
</dict>
</plist>
