<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>NewWay_80000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Device(HECI) _ADR=0x00160000 to _ADR=0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SEVDSQhfQURSDAAAFgA=</data>
					<key>Replace</key>
					<data>SEVDSQhfQURSDAAAAAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPRW,2,S) to XPRW</string>
					<key>Find</key>
					<data>VVBSVwpwEg==</data>
					<key>Replace</key>
					<data>WFBSVwpwEg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,Serialized) to Method(XPRW,0,..)</string>
					<key>Find</key>
					<data>AAAZABQfX1BSVwg=</data>
					<key>Replace</key>
					<data>AAAZABQfWFBSVwg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _PTS to ZPTS</string>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _WAK to ZWAK</string>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _WAK to ZWAK (G3)</string>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0</string>
					<key>Find</key>
					<data>QlRJRgl5Cg==</data>
					<key>Replace</key>
					<data>QlRJMAl5Cg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0 (G3)</string>
					<key>Find</key>
					<data>QlRJRgl5AWg=</data>
					<key>Replace</key>
					<data>QlRJMAl5AWg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1</string>
					<key>Find</key>
					<data>QlRTVAp5Cg==</data>
					<key>Replace</key>
					<data>QlRTMQp5Cg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1 (G3)</string>
					<key>Find</key>
					<data>QlRTVAp5AWg=</data>
					<key>Replace</key>
					<data>QlRTMQp5AWg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(SBTC,3,NotSerialized) to SBT2</string>
					<key>Find</key>
					<data>U0JUQwNwDQ==</data>
					<key>Replace</key>
					<data>U0JUMgNwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBTI,1,NotSerialized) to GBT3</string>
					<key>Find</key>
					<data>R0JUSQFwDQ==</data>
					<key>Replace</key>
					<data>R0JUMwFwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBTC,0,NotSerialized) to GBT4</string>
					<key>Find</key>
					<data>R0JUQwBwDQ==</data>
					<key>Replace</key>
					<data>R0JUNABwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name(NBTI,..) to NBT5</string>
					<key>Find</key>
					<data>CE5CVEk=</data>
					<key>Replace</key>
					<data>CE5CVDU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoUIV9VSUQAoBWRk09TWVML3AeTT1NZUwvfB6QKAaEEpAoCFDRfU1RB</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoUIV9VSUQAoBWRk09TWVML3AeTT1NZUwvfB6QKAaEEpAoCFDRYU1RB</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoUGF9VSUQAoAyTT1NZUwvcB6QKAaEEpAoCFAlfU1RB</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoUGF9VSUQAoAyTT1NZUwvcB6QKAaEEpAoCFAlYU1RB</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoUGF9VSUQAoAyTT1NZUwvcB6QKAaEEpAoCFDRfU1RB</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoUGF9VSUQAoAyTT1NZUwvcB6QKAaEEpAoCFDRYU1RB</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>CF9ISUQMQdAMCghfVUlECgIUNF9TVEEA</data>
					<key>Replace</key>
					<data>CF9ISUQMQdAMCghfVUlECgIUNFhTVEEA</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>CF9ISUQMQdAMCghfVUlECgIUCV9TVEEA</data>
					<key>Replace</key>
					<data>CF9ISUQMQdAMCghfVUlECgIUCVhTVEEA</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoIX1VJRAoCFCBfU1RBAA==</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoIX1VJRAoCFCBYU1RBAA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoUGV9VSUQAoA2SlU9TWVML3AekCgGhBKQKAhQJX1NUQQ==</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoUGV9VSUQAoA2SlU9TWVML3AekCgGhBKQKAhQJWFNUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA (G3)</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoIX1VJRAoCFAhfU1RBAA==</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoIX1VJRAoCFAhYU1RBAA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA (G0)</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoUI19VSUQAoBdcX09TSQ1XaW5kb3dzIDIwMTIApAoBoQSkCgIUCV9TVEEA</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoUI19VSUQAoBdcX09TSQ1XaW5kb3dzIDIwMTIApAoBoQSkCgIUCVhTVEEA</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename BAT1._STA to BAT1.XSTA (450 G0 Ivy)</string>
					<key>Find</key>
					<data>QkFUMQhfSElEDEHQDAoUI19VSUQAoBdcWE9TSQ1XaW5kb3dzIDIwMTIApAoBoQSkCgIUCV9TVEEA</data>
					<key>Replace</key>
					<data>QkFUMQhfSElEDEHQDAoUI19VSUQAoBdcWE9TSQ1XaW5kb3dzIDIwMTIApAoBoQSkCgIUCVhTVEEA</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
		</array>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>Theme</key>
		<string>Bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>FullTitle</key>
					<string>UEFI Internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Find</key>
				<data>g72M/v//EA==</data>
				<key>Replace</key>
				<data>g72M/v//Gw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA .xml to .zml</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>LnhtbA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>LnptbA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), credit RehabMan</string>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Find</key>
				<data>MdtMO2XYdRI=</data>
				<key>Replace</key>
				<data>Mdv/w5CQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.9.5 5Ghz US FCC, svko</string>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Find</key>
				<data>WFQAIBcnIAAA</data>
				<key>Replace</key>
				<data>WFQAG2cxlQAJ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ 5Ghz US FCC, the-darkvoid</string>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ BT4LE-Handoff-Hotspot, Dokterdok</string>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Find</key>
				<data>SIXAdFwPt0g=</data>
				<key>Replace</key>
				<data>Qb4PAAAA61k=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>smbios_productname_placeholder</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
