<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAJAAAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
