<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#SKL spoof-Comment</key>
		<string>Kaby Lake CPU supportable by using CPUID from Skylake</string>
		<key>#FakeCPUID</key>
		<string>0x0506e3</string>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>0x591b0000, 0105 instead of 0306, DP</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AgQKAAAIAACHAQAAAwYKAAAEAACHAQAA/wAAAAEAAAAgAAAA</data>
				<key>Replace</key>
				<data>AQUKAAAEAACHAQAAAgQKAAAIAACHAQAA/wAAAAEAAAAgAAAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
