<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixTMR</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Device(HECI) _ADR=0x00160000 to _ADR=0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SEVDSQhfQURSDAAAFgA=</data>
					<key>Replace</key>
					<data>SEVDSQhfQURSDAAAAAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPRW,2,S) to XPRW</string>
					<key>Find</key>
					<data>VVBSVwpwEg==</data>
					<key>Replace</key>
					<data>WFBSVwpwEg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,Serialized) to Method(XPRW,0,..)</string>
					<key>Find</key>
					<data>AAAZABQfX1BSVwg=</data>
					<key>Replace</key>
					<data>AAAZABQfWFBSVwg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _PTS to ZPTS</string>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _WAK to ZWAK</string>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _WAK to ZWAK (G3)</string>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0</string>
					<key>Find</key>
					<data>QlRJRgl5Cg==</data>
					<key>Replace</key>
					<data>QlRJMAl5Cg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0 (G3)</string>
					<key>Find</key>
					<data>QlRJRgl5AWg=</data>
					<key>Replace</key>
					<data>QlRJMAl5AWg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1</string>
					<key>Find</key>
					<data>QlRTVAp5Cg==</data>
					<key>Replace</key>
					<data>QlRTMQp5Cg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1 (G3)</string>
					<key>Find</key>
					<data>QlRTVAp5AWg=</data>
					<key>Replace</key>
					<data>QlRTMQp5AWg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(SBTC,3,NotSerialized) to SBT2</string>
					<key>Find</key>
					<data>U0JUQwNwDQ==</data>
					<key>Replace</key>
					<data>U0JUMgNwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBTI,1,NotSerialized) to GBT3</string>
					<key>Find</key>
					<data>R0JUSQFwDQ==</data>
					<key>Replace</key>
					<data>R0JUMwFwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBTC,0,NotSerialized) to GBT4</string>
					<key>Find</key>
					<data>R0JUQwBwDQ==</data>
					<key>Replace</key>
					<data>R0JUNABwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ITLB,0,NotSerialized) to ITL1 (for G4)</string>
					<key>Find</key>
					<data>SVRMQgA=</data>
					<key>Replace</key>
					<data>SVRMMQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GACW,0,NotSerialized) to XACW (for G4 latest BIOS)</string>
					<key>Find</key>
					<data>R0FDVwA=</data>
					<key>Replace</key>
					<data>WEFDVwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBAW,0,NotSerialized) to XBAW (for G4 latest BIOS)</string>
					<key>Find</key>
					<data>R0JBVwA=</data>
					<key>Replace</key>
					<data>WEJBVwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name(NBTI,..) to NBT5</string>
					<key>Find</key>
					<data>CE5CVEk=</data>
					<key>Replace</key>
					<data>CE5CVDU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(\_SB.BAT0,...) to Notify(_SB.BATC,...)</string>
					<key>Find</key>
					<data>hlwuX1NCX0JBVDA=</data>
					<key>Replace</key>
					<data>hlwuX1NCX0JBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(\_SB.BAT1,...) to Notify(_SB.BATC,...)</string>
					<key>Find</key>
					<data>hlwuX1NCX0JBVDE=</data>
					<key>Replace</key>
					<data>hlwuX1NCX0JBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(BAT0,...) to Notify(BATC,...)</string>
					<key>Find</key>
					<data>hkJBVDA=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(BAT1,...) to Notify(BATC,...)</string>
					<key>Find</key>
					<data>hkJBVDE=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(RDSS,1,S) to XDSS</string>
					<key>Find</key>
					<data>UkRTUwk=</data>
					<key>Replace</key>
					<data>WERTUwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC Method(_REG,2,N) to XREG, 4x40s, 4x30s</string>
					<key>Find</key>
					<data>X1JFRwKgKJNoCgM=</data>
					<key>Replace</key>
					<data>WFJFRwKgKJNoCgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC Method(_REG,2,N) to XREG, 4x0 G3 Skylake</string>
					<key>Find</key>
					<data>X1JFRwKgFJNoCgM=</data>
					<key>Replace</key>
					<data>WFJFRwKgFJNoCgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC fix</string>
					<key>Find</key>
					<data>RwFwAHAAAQg=</data>
					<key>Replace</key>
					<data>RwFwAHAAAQI=</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
		</array>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0 -igfxnohdmi</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>Properties</key>
		<dict/>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<true/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Title</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>smbios_productname_placeholder</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
