<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006, vbo</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable fourth connector by changing port count, 0x0a260006, RehabMan</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwM=</data>
				<key>Replace</key>
				<data>BgAmCgEDBAM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add missing 0306 DP connector</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>/wAAAAEAAABAAAAA</data>
				<key>Replace</key>
				<data>AwYDAAAEAACHAAAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
