<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>disable HDMI/DP ports by port count patching, 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>BgAmCgEDAwM=</data>
				<key>Replace</key>
				<data>BgAmCgEDAQE=</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
