<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-cursormem</key>
				<data>AACQAA==</data>
				<key>framebuffer-portcount</key>
				<integer>4</integer>
				<key>framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>framebuffer-con2-0d260007-alldata</key>
				<data>/wAAAAEAAABAAAAA</data>
				<key>framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>framebuffer-con3-0a260006-alldata</key>
				<data>AwYDAAAEAACHAAAA</data>
				<key>framebuffer-con3-0d260007-alldata</key>
				<data>/wAAAAEAAABAAAAA</data>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
