<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ALC 280 #1 of 4</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>PYQZ1BE=</data>
				<key>Replace</key>
				<data>PYAC7BA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC 280 #2 of 4</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>PYQI7BA=</data>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC 280 #3 of 4</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>PYUI7BA=</data>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC 280 #4 of 4 (new in 10.11, credit lisai9093) </string>
				<key>Find</key>
				<data>PYMZ1BE=</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
